body {
background-color: black !important;
}
.ui.inverted.top.fixed.menu{
  background-image: linear-gradient(135deg, rgb(202, 23, 23) 10%, rgb(200, 33, 178) 69%,rgb(148, 229, 231) 89% ) !important;

}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.react-datepicker-wrapper {
  width: 100%;
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          135deg,
          rgb(202, 23, 23) 10%,
          rgb(200, 33, 178) 69%,
          rgb(148, 229, 231) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}